@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

:root {
    --color-text: #120f0b;
    --color-background: #efe7dd;
    --color-primary: #cca675;
    --color-secondary: #a6c2c8;
    --color-accent: #39396a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Fuzzy Bubbles";
    /*font-style: italic;*/
    font-size: 1.333rem;
}

h1 {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, var(--color-primary) 0 40%, var(--color-accent) 55% 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
}

p {
    text-align: center;
    font-weight: 600;
    font-style: oblique;
}

.image1 {
    width: 100%;
    height: max-content;
}

.logo {
    width: 50px;
    max-height: 50px;
}

.aside {
    padding: 5%;
    margin: .1%;
    align-items: center;
}

ul .navbar {
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    color: var(--color-text);
}

.carrousel {
    position: relative;
    width: 600px;
    /* ajusta según necesidad */
    height: 100%;
    overflow: hidden;
}

.carrousel-image {
    position: absolute;
    width: 100%;
    height: max-content;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carrousel-image.active {
    opacity: 1;
}