@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap, family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-text: #120f0b;
    --color-background: #efe7dd;
    --color-primary: #cca675;
    --color-secondary: #a6c2c8;
    --color-accent: #39396a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Jost", sans-serif;
    /*font-style: italic;*/
}

h1,
h2,
h3,
h4,
h5,
nav,
a {
    font-family: 'Fuzzy Bubbles';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

h1 {
    text-align: center;
    background: linear-gradient(to right, var(--color-primary) 0 40%, var(--color-accent) 55% 100%);
    -webkit-background-clip: text;
    color: transparent;
}

p {
    text-align: center;
    font-weight: 600;
    font-style: oblique;
}

a {
    padding: 5px;
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    border: 5px var(--color-accent);
    border-radius: 8px;
    border-inline: solid;
}

.navbar {
    border: 2px #a6c2c8 solid;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 10px;
}

.image1 {
    width: 100%;
    height: max-content;
}

.logo {
    width: 50px;
    max-height: 50px;
}

.aside {
    padding: 5%;
    margin: .1%;
    align-items: center;
}

/* Carrito de compras */
#carrito {
    margin-top: 20px;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    text-decoration: none;
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#vaciar-carrito {
    margin-top: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#vaciar-carrito:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 8px;
    border-inline: solid;
}

/*Contenedor Flex*/
.libros-flexbox {
    display: flex;
}

.item {
    border: 2px solid var(--color-accent);
    border-radius: 15px;
}

.precio {
    font-size: x-large;
}

.oferta {
    font-size: large;
}

.descripcion {
    font-size: small;
}

.btn-libros {
    /*text-align: center;
    align-items: center;
    padding: 3%;
    border-radius: 8px;*/
    position: relative;
    overflow: hidden;
    background-color: var(--color-background);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s;
}

.btn-libros .texto {
    /*cursor: pointer;
    background-color: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 8px;
    border-inline: solid;*/
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s, transform 0.3s;
    white-space: nowrap;
    display: none;
}

.btn-libros:hover .icono {
    transform: scale(1.5);
}

.btn-libros:hover .texto {
    opacity: 1;
    transform: translateX(0);
}

/* Carousel */
.carrousel {
    position: relative;
    width: auto;
    /* ajusta según necesidad */
    height: 100%;
    overflow: hidden;
}

.carrousel-image {
    position: absolute;
    width: 100%;
    height: max-content;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carrousel-image.active {
    opacity: 1;
}

.productos__container {
    display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Limit columns to a maximum of 4 
    grid-template-columns: repeat(auto-fit, minmax(250px, min(1fr, 25%)));*/
    grid-template-columns: repeat(3, minmax(250px, min(1fr, 25%)));
    gap: 20px;
    padding: 0 10px;
    justify-items: center;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
    border: #39396a solid 2px;

}

.card:hover {
    transform: translateY(-15px);
}

.card img {
    width: 10rem;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.contacto-form {
    margin: 2px;
    padding: .1%;
    align-content: space-between;
}

@media only screen and (max-width: 600px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-size: .750rem;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    small {
        font-size: 0.750rem;
    }

    .carrousel {
        position: relative;
        width: 450px;
        /* ajusta según necesidad */
        height: 300px;
        overflow: hidden;
    }

}